.footer {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 8%;
    width: 97%;
    margin-right: 5%;
  }
.footer p{
    color:rgb(195, 195, 195)
}
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .name {
    font-weight: bold;
  }
  
  @media screen and (max-width:770px){
    .footer{
      width: 95%;
      font-size: .5em;
    }
}