#projects{
    padding-left: 0px;
    display:flex;
    list-style: none;
    justify-content: space-evenly;
}

#projects li{
    font-size: 20px;
    cursor: pointer;
}

#projects li span{
  margin-left: 57%;
}

#projectImg{
    background-color: white;
    width: 50%;
    height: 50vh;
    object-fit: contain;
    background-color: black;
    border-style: solid;
    border-color: white;
}

#projectWindow{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#projectText{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 10%;
    font-size: 1.2em;
}

#projectDescription{
  width:80%;
}

#ProjectsContainer{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 75px;
    border-bottom: solid;
    border-color: rgb(198, 198, 198);
    scroll-margin-top: 100px;
    height: 80vh;
}

.transition-enter {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  
  .transition-enter-active {
    opacity: 1;
  }
  
  .transition-exit {
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
  
  .transition-exit-active {
    opacity: 0;
  }
  
