  #projects{
    scroll-margin-top: 105px;
  }
  
  .sectionheader{
    margin-top: 100px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
    font-size: 1.8em;
    scroll-margin-top: 110px;
  }
  .swiperContainer {
    width: 55%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 22.5%;
    margin-top: 5%;
    height: 10%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 50px;
    margin-bottom: 5%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 20%;
    object-fit: contain;

  }

  .Modal {
    width: clamp(60%, 700px, 90%);
  height: min(60%, 400px);
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .modal-text h1{
    text-align: center;
  }
  .modal-text p{
    text-align: center;
    font-size: 2vw;
    height: 100%;
  } 

  .Modalbackground{
    border: 1px solid white;
    background: black;
  }

  .backdrop {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0,.9);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
  }

  #modalClose {
    background-color: white;
    width: 80px;
    height: 30px;
    color: black;
    border-radius: 15px;
    
  }

  #closeContainer{
    height: 100%;
    padding-top: 90%;
  }

  .projectName{
    text-align: center;
    font-size: 1.5rem;
  }

  #contactContainer{
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    border-top: solid;
    border-color: rgb(198, 198, 198);
    scroll-margin-top: 110px;
  }

  @media screen and (max-width:770px){
    #contactContainer{
      margin-left: 1%;
    }
    .projectContainer{
      margin-left: 1%;
    }
    .swiperContainer{
      width: 90%;
      margin-left: 2.5%;
      padding-top: 5px;
    }

}


@media screen and (max-width:1021px){
  .modal-text p{
    font-size: 1.9vh;
  }
}