.linksflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
.linksgrid{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    column-gap: 150px;
}

.linkedin{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(10,102,194);
    border-radius: 20px;
    border: none;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color .3s;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;

}
.linkedin:hover{
    background-color: rgb(7, 67, 128);
}

.linkedinimg{
    width: 80px;
    height: 80px;
}
.resumeimg {
  width: 80px;
  height: 80px;
}

.linksborder{
    margin-top: 0px;
    width: 100%;
    height: 350px;
    background-color: rgb(69, 65, 65);
}
.resume{
    color: black;
    background-color: white;
    border-radius: 20px;
    border: none;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color .3s;
    text-decoration: none;
    display: flex;
  align-items: center;
}
.links{
    text-align: center;
    font-size: 40px;
    font-family: Times New Roman;
    margin-top: 0;
}
.resume:hover{
    background-color: rgb(148, 147, 147);
}
.githubimg{
    border-radius: 15px;
    width: 80px;
    height: 80px;
}
.github{
    width: 78px;
    text-align: center;
    color:white;
    background-color:rgb(35,134,54);
    border-radius: 20px;
    border: none;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color .3s;
    text-decoration: none;
}
.github:hover{
    background-color: rgb(25, 95, 39);
}



@media screen and (max-width:770px){
    .linksgrid{
        column-gap: 5%;
    }
}