.experienceContainer{
  text-align: center;
  margin-bottom: 72px;
  padding-top: 72px;
  border-top: 1px solid var(--border-color);
}

.eHeader{
  font-size: 25px;
}

.buttonSelector{
    display: flex;
    column-gap: 50px; 
    justify-content: center;
}

.btn-primary {
  background-color: var(--bg-color) !important;
  border-color: var(--border-color) !important;
  color: var(--text-color) !important;
}

.btn-primary:hover {
  opacity: 0.85;
}

.modal .modal-content {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  border-style: solid;
  border-color: var(--border-color) !important;
  border-width: 1px !important;
}

.modal-header,
.modal-footer {
  border-color: #333 !important;
}

.modal-title {
  color: var(--text-color) !important;
}

.card {
  background-color: var(--card-bg) !important;
  color: var(--text-color) !important;
  border-color: var(--border-color) !important;
}

.card-title,
.card-subtitle {
  color: var(--text-color) !important;
}

.workContainer {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  flex-wrap: wrap; /* Wrap the cards to a new line if they don't fit */
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-subtitle {
  font-size: 1rem;
  color: #6c757d;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body > * {
  margin-bottom: 1rem;
}

.card-text {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
